   <%- include("./includes/navbar.ejs") %>
<h1 style="margin-top: 10px; margin-left: 50px; font-size: 25px;">Product Cart Items</h1>
<div class="row" style="height: 510px; width: 1100px; background-color: white; margin-top: 5px;margin-left: 50px; overflow-y: scroll;border-radius: 10px;">
  <div>
<% if (wishlist && wishlist.products.length > 0) { %>

    <% wishlist.products.forEach(item => { %>
    <div style="background-color: grey; width: 800px; margin-left: 30px;margin-top: 10px; line-height: 1.5; border-radius: 10px; padding-bottom: 5px; ">
        <img style="height: 140px; width: 200px;margin-left: 20px; border-radius: 15px; margin-top: 10px;" src="<%= item.productId.image.filename %>" alt="">
      <h3 style="margin-left: 300px; margin-top: -120px;word-spacing: 2px; display: flex; color: white;"><p style="margin-top: -0px; color: black;">Title: </p> <%= item.productId.title %></h3>
      <h3 style="display: flex; margin-left: 185px; margin-top: -30px; color: white;"><p style="margin-left: 50px; margin-top: -1px; color: black;">Description:</p><%= item.productId.description %></h3>
      <h3 style="margin-left: 282px;margin-top: -35px; display: flex; color: white"><p style=" margin-left: 10px; margin-top: -1px; color: black;">Price:</p>₹<%= item.productId.price %></h3>
      <h3 style="display: flex; color: white; margin-left: 262px; margin-top: -40px;"><p style="color: black; margin-top: -1px;">Quantity:</p><%= item.quantity %></h3>
          
        </div>
         <form action="/wishlist/remove/<%= item._id %>" method="POST">
        <button type="submit" style="display: flex; background-color: red; height: 30px; width: 160px; font-size: 14px; margin-left: 650px; margin-top: -40px; border-radius: 10px;
        outline: none; border: none;">
<h2 style="font-size: 16px; color: white; margin-top: 5px;">Remove to wishlist</h2>
        </button>
    </form> 
    <form action="/buy/<%= item.productId._id %>" method="post">
    <button type="submit" class="Buy" style="margin-left: 1000px; margin-top: -35px; color: white; width: 80px;">Buy</button>
    </form>
    <% }) %>

<% } else { %>
    <p>No items in wishlist</p>
<% } %>
  </div>
  </div>
